<div class="msg custom-font"  *ngIf="!dataSource.length > 0">
  <p>No Products Available,Create New Product...</p>
</div>

<div class="addProducts custom-font">
  <!-- <button class="btn btn-primary" (click)="onAddNewProduct()">Add Products</button> -->
  <button mat-raised-button (click)="onAddNewProduct()">Add Product</button>
</div>
<div class="col-sm-5 custom-font" *ngIf="dataSource.length > 0">
  <h4>Products</h4>
</div>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8 custom-font" *ngIf="dataSource.length > 0">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>    
      <td mat-cell *matCellDef="let element" (click)="loadVariant(element)"> {{element[column]}}</td>    
      </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">           
           <div class="row">
              <div class="col-6">
                <p *ngIf="!variantColors.length>0">No variants colors availabe for the selected product</p>
                <h5>Colors</h5>
                <div *ngIf="variantColors.length>0">
                  <div class="col-7" *ngFor="let bgcolor of variantColors">
                    <span class="dot" [style.background-color]="bgcolor"></span>  
                 </div>
                </div> 
              </div>  
                <div class="col-4">
                 <p *ngIf="!variantSize.length>0">No variants sizes availabe for the selected product</p>  
                  <h5>Sizes</h5>
                  <div *ngIf="variantSize.length>0">
                    <div class="col-4" *ngFor="let size of variantSize">
                      <p>{{size}}</p>    
                    </div> 
                  </div>
                </div>
                <div class="col-2">
                  <button  mat-raised-button style="float: right;" id="navVarinat" (click)="onNavVariant(element.id)"> Add Variants
                  </button>
                  </div>
           </div>
      </div>
     </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element" matTooltip="Click to view variants">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

